@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 7% 86%;
    --foreground: 167 29% 6%;
    --card: 240 7% 86%;
    --card-foreground: 167 29% 6%;
    --popover: 240 7% 86%;
    --popover-foreground: 167 29% 6%;
    --primary: 165 100% 62%;
    --primary-foreground: 167 29% 6%;
    --secondary: 219 31% 65%;
    --secondary-foreground: 167 29% 6%;
    --muted: 240 8% 20%;
    --muted-foreground: 167 29% 30%;
    --accent: 163 85% 43%;
    --accent-foreground: 167 29% 6%;
    --destructive: 0 85% 39%;
    --destructive-foreground: 167 29% 6%;
    --link: 163 92% 21%;
    --border: 240 8% 20%;
    --input: 240 8% 20%;
    --ring: 163 85% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 234 31% 6%;
    --foreground: 167 29% 94%;
    --card: 240 7% 14%;
    --card-foreground: 167 29% 94%;
    --popover: 240 7% 14%;
    --popover-foreground: 167 29% 94%;
    --primary: 165 100% 38%;
    --primary-foreground: 240 7% 14%;
    --secondary: 219 31% 35%;
    --secondary-foreground: 167 29% 94%;
    --muted: 240 8% 80%;
    --muted-foreground: 167 29% 94%;
    --accent: 163 85% 57%;
    --accent-foreground: 240 7% 14%;
    --destructive: 0 62% 60%;
    --destructive-foreground: 168 29% 10%;
    --link: 163 85% 57%;
    --border: 240 7% 30%;
    --input: 240 8% 80%;
    --ring: 163 85% 60%;
  }
}

@layer base {
  * {
    @apply tw-border-border;
  }
  body {
    @apply tw-bg-background tw-text-foreground;
  }
  h1 {
    @apply tw-text-4xl lg:tw-text-6xl;
    @apply tw-font-bold;
  }
  h2 {
    @apply tw-text-3xl lg:tw-text-5xl;
    @apply tw-font-bold;
  }
  h3 {
    @apply tw-text-2xl lg:tw-text-4xl;
    @apply tw-font-semibold;
  }
  h4 {
    @apply tw-text-xl lg:tw-text-3xl;
    @apply tw-font-semibold;
  }
  h5 {
    @apply tw-text-lg lg:tw-text-2xl;
  }
  h6 {
    @apply tw-text-base lg:tw-text-xl;
  }
  p {
    @apply tw-text-base;
  }
}